<div class="registerForm container text-center">
    <div id="form-container">
        <div class="page-header text-center">
            <div id="status-buttons" class="text-center">
                <a ui-sref-active="active" ui-sref=".personal"><span></span> Personal </a>
                <a ui-sref-active="active" ui-sref=".details"><span></span> Details </a>
                <a ui-sref-active="active" ui-sref=".account"><span></span> Account </a>
            </div>
        </div>

        <form novalidate id="register-form" name="registrationForm"
              ng-submit="registerCtrl.register()">
            <div id="form-views" ui-view></div>
        </form>
    </div>
</div>