<div class="group">
    <input type="text" name="country"
           ng-model="registerCtrl.user.country"
           ng-class="{ 'not-empty': !registerCtrl.isEmpty('country')}">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Country</label>
</div>

<div class="group">
    <input type="text" name="city"
           ng-model="registerCtrl.user.city"
           ng-class="{ 'not-empty': !registerCtrl.isEmpty('city')}">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>City</label>
</div>

<div class="group">
    <input type="text" name="postalCode"
           ng-model="registerCtrl.user.postalCode"
           ng-class="{ 'not-empty': !registerCtrl.isEmpty('postalCode')}">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Postal code</label>
</div>

<div class="group">
    <input type="text" name="address"
           ng-model="registerCtrl.user.address"
           ng-class="{ 'not-empty': !registerCtrl.isEmpty('address')}">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Address</label>
</div>

<div class="form-group row">
    <a ui-sref="register.account" class="btn btn-info">
        Next
    </a>
</div>