<div class="row text-center">
    <div class="col-md-12">
        <div class="group">
            <input type="text" name="firstname"
                   ng-model="registerCtrl.user.firstname"
                   ng-class="{ 'not-empty': !registerCtrl.isEmpty('firstname')}"
                   ng-minlength="4"
                   required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>First name</label>
        </div>
        <div class="group">
            <input type="text" name="lastname"
                   ng-model="registerCtrl.user.lastname"
                   ng-class="{ 'not-empty': !registerCtrl.isEmpty('lastname')}"
                   ng-minlength="4"
                   required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Last name</label>
        </div>

        <div class="group">
            <input type="email" name="email"
                   ng-model="registerCtrl.user.email"
                   ng-class="{ 'not-empty': !registerCtrl.isEmpty('email')}"
                   required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
        </div>
    </div>
</div>

<div class="form-group row">
    <a ui-sref="register.details" class="btn btn-info">
        Next
    </a>
</div>