<div class="group">
    <input type="text" name="username"
           ng-model="registerCtrl.user.username"
           ng-class="{ 'not-empty': !registerCtrl.isEmpty('username')}"
           ng-minlength="6"
           required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Username</label>
</div>

<div class="group">
    <input type="password" name="password"
           ng-model="registerCtrl.user.password"
           ng-class="{ 'not-empty': !registerCtrl.isEmpty('password')}"
           ng-minlength="6"
           required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Password</label>
</div>

<div class="group">
    <input type="password" name="repeat-password"
           ng-model="registerCtrl.user.repeatPassword"
           ng-class="{ 'not-empty': !registerCtrl.isEmpty('repeat-password')}"
           ng-minlength="6"
           required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Repeat password</label>
</div>

<button type="submit"
        class="btn btn-success"
        ng-disabled="registrationForm.$invalid">
    Register
</button>