<sub-header></sub-header>
<div>
    <h1 class="text-center">TERMS OF SALE</h1>
    <p>The purchase price plus an additional charge of 15 % and the VAT of 7% is due after adjudication and is payable in Euro (or $) immediately against post or personal delivery of the goods. Title does not passing until the goods are paid. Customers outside of the Europe and her E-Union, don’t need pay VAT, if it is goods are sent by our company. Goods will be dispatched at the expense and the risk of the buyers .The buyer can receive goods from the office of the company . It is responsibility of the buyer to comply with foreign customs and exchange regulations. Usually  we insure the goods. The descriptions given in the catalog are set out in all good faith. The authenticity of the lots are guaranteed  from us. All items are accompanied by certificate (digital or photo).
    </p>
    <p>Objections can only be considered within 7 days from the receipt of the goods. If any legal action should arise, the court in London has jurisdiction for both parties. Every buyer is personally liable for all purchases made, he cannot have claim to act for a third person. The above terms of the sale are taken to imply the acceptance for bids in the sale. If it is, the buyer gave price 30% more from base of the goods, after open the sale, he is winner  for applied. The total price is due after the final bid and payable on delivery. A default interest of 1% per month on the purchase price will be charged for delayed payments.
    </p>
    <p>The prices given in this catalogue are estimates in Euro (Pounds and Dollars).At the sale we accept a minimum 100% of the estimate. After the sale unsold lots may be purchased at 70% of estimate price, plus 10 % buyers premium and the VAT.
    </p>
    <p>The list of prices realized will be available on our office and internet home page www.kirs auction.com , free of charge . The above mentioned conditions are written in English, and only valid text is the English one.
    </p>
    <p>THE AUTHENTICITY OF THE COINS IS UNCONDITIONALLY GUARANTEED, WITHOUT  TIME  LIMIT.
    </p>
</div>