menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 65%;
  max-width: 450px;
  margin: 0;
  padding: 0;
  background-color: #fbf8e8;
  z-index: 1000;
  -webkit-box-shadow: 0px 0px 50px rgb(32, 35, 41);
  -moz-box-shadow: 0px 0px 50px rgb(32, 35, 41);
  box-shadow: 0px 0px 50px rgb(32, 35, 41);

  &.ng-show,
  &.ng-hide {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }

  &.ng-hide {
    width: 0;
    opacity: 0;
  }

  &.ng-show {
    opacity: 1;
  }
}

/************************************
              MENU HEADER
*************************************/

.menu-header {
  margin-bottom: 7em;
  padding: 1.1em 1em;
  background-color: #373a3d;
  color: #fbf8e8;
}

.menu-header:after {
  display: block;
  clear: both;
  content: '';
}

/**  Menu BTN **/

.menu-header .btn {
  color: #fbf8e8;
}

.menu-header .btn:hover {
  color: #9ba08d;
}

/**  Menu Nav **/

.menu-navigation {
  text-align: center;
}

.menu-navigation li {
  display: block;
  width: 100%;
}

.menu-navigation li a {
  width: 100%;
  margin-bottom: 42px;
  text-decoration: none;
  text-transform: uppercase;
  color: #373a3d;
  transition: all .2s ease-in;
}

.menu-navigation li .btn:hover {
  width: 100%;
  color: #d6cd9b;
  border-radius: 0px;
  background-color: #373a3d;
  transition: all .2s ease-in;
}

.menu-navigation li .active {
  background-color: #373a3d;
  color: #d6cd9b;
  border-radius: 0px;
}

/************************************
              PROFILE
*************************************/

.close-cross {
  float: right;
  font-weight: 800;
  cursor: pointer;
}

/**  icons **/

.profile-holder {
  margin: 0.625em 0.625em 0.625em 1.25em;
}

.profile-icons-holder {
  margin: -.4em 0 1.6em;
}

.profile-icons {
  padding: 0;
}

/**  name **/

.profile-name {
  margin: 0 0 0 5.5em;
  color: #d6cd9b;
}

.profile-icons-holder {
  margin-left: 5em;
}

/**  image **/

.profile-image img {
  border: 2px solid #d6cd9b;
  border-radius: 50%;
  width: 70px;
}

/*TODO: SET THE ICONS AND THE MARKUP (they are links !!!)*/

.menu-header-icons, .menu-icons{
  &:before{
    font-family: 'LobShopIcons';
  }
}
.menu-header-icons{
  &:before{
    margin-left: 5px;

    color: #b3b3b3;

    font-size: 24px;

    transition: all .2s ease-in;
  }
  &:hover:before{
    color: #fff;
    transition: all .2s ease-in;
  }
}


.settings{
  &:before{
    content: "\e610";
  }
}
.shoppig-bag {
  &:before {
    content: "\e60b";
  }

  .badge{
    top: 0;
    right: 1.2em;
    padding: 1px 4px;

    background-color: #d6cd9b;
    color: #393b3e;

    border-radius: 50%;
  }
}

.log-in,.log-out{
  &:before{
    font-size: 21px;
  }
}
.log-out{
  &:before{
    margin-left: -10px;

    content: "\e605";
  }
}
.log-in{
  &:before{
    content: "\e609";
  }
}

.menu-icons{
  height: 75px;
  margin-top: -1em;
  &:before{
    font-size: 72px;
  }
}
.catalog{
  &:before{
    font-size: 72px;
    content: "\e601";
  }
}
.highlight-icon{
  height: 60px;
  margin: 0;
  &:before{
    content: "\e603";
    font-size: 36px;
  }
}

.terms{
  margin: 0;
  &:before{
    font-size: 48px;
    content: "\e614";
  }
}
.contacts{
  margin: 0;
  height: 60px;
  &:before{
    font-size: 36px;
    content: "\e60c";
  }
}

.profile-page-container {
  padding-top: 20px;
}

.profile-image-holder {
  img {
    border: 2px solid #d6cd9b;
  }
}
