.sub-header {
  height: 50px;
  background-color: #373a3d;

  .btn {
    color: #d6cd9b;
  }
}

.message-box {
  max-width: 700px;
  width: 70%;
  height: 100px;
  border: 1px solid black;
}

#contact-form {
  padding-bottom: 50px;
}

.success-message {
  color: #6b939d;
}
.terms-hold{
  margin-bottom: 2em;
  margin-top: 4em;
  padding: 0 10em;
  h1{
    margin-bottom: 50px;
  }
}

.icons {
  font-family: LobShopIcons;
  color: #f9f6e6;
  font-size: 2.1rem;
}

.menu-icon{
  &:before{
    content: "\e60b";
  }
}