<div class="dashboard-container">
    <h3>Order details</h3>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">User</h3>
                </div>
                <div class="panel-body">
                    <div><strong>Full name: </strong>{{ orderDetailsCtrl.order.userInfo.firstName + ' ' + orderDetailsCtrl.order.userInfo.lastName }}</div>
                    <div><strong>Email: </strong>{{ orderDetailsCtrl.order.userInfo.email }}</div>
                    <div><strong>Phone number: </strong>{{ orderDetailsCtrl.order.userInfo.phoneNumber }}</div>
                    <div><strong>Country: </strong>{{ orderDetailsCtrl.order.deliveryAddress.country }}</div>
                    <div><strong>City: </strong>{{ orderDetailsCtrl.order.deliveryAddress.city }}</div>
                    <div><strong>Postal code: </strong>{{ orderDetailsCtrl.order.deliveryAddress.zip }}</div>
                    <div><strong>Address: </strong>{{ orderDetailsCtrl.order.deliveryAddress.address }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Order</h3>
                </div>
                <div class="panel-body">
                    <div><strong>Status: </strong>{{ orderDetailsCtrl.order.status }}</div>
                    <div><strong>Comment: </strong>{{ orderDetailsCtrl.order.comment }}</div>
                    <div>
                        <strong>Items:</strong><br/>
                        <div class="list-group">
                            <a class="list-group-item"
                               ng-repeat="item in orderDetailsCtrl.orderItems"
                               ui-sref="product({productId: item._id})">
                                {{item.name}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">Payment</h3>
                </div>

                <div class="panel-body" ng-if="orderDetailsCtrl.order.payment.method === 'cash'">
                    <div><strong>Payment method: </strong>{{orderDetailsCtrl.order.payment.method}}</div>
                    <div><strong>Created on: </strong>{{orderDetailsCtrl.order.created | date}}</div>
                    <div><strong>Updated on: </strong>{{orderDetailsCtrl.order.updated | date}}</div>
                    <div><strong>Payer name: </strong>{{orderDetailsCtrl.order.payment.paymentInfo.userInfo.firstName + ' ' + orderDetailsCtrl.order.payment.paymentInfo.userInfo.lastName}}</div>
                    <div><strong>Payer email: </strong>{{orderDetailsCtrl.order.payment.paymentInfo.userInfo.email}}</div>
                    <div><strong>Currency: </strong>{{orderDetailsCtrl.order.payment.paymentInfo.transactions[0].amount.currency}}</div>
                    <div><strong>Total: </strong>{{orderDetailsCtrl.order.payment.paymentInfo.total | currency}}</div>
                </div>

                <div class="panel-body" ng-if="orderDetailsCtrl.order.payment.method !== 'cash'">
                    <div><strong>Payment method: </strong>{{orderDetailsCtrl.order.payment.method}}</div>
                    <div><strong>Created on: </strong>{{orderDetailsCtrl.order.payment.paymentInfo['create_time'] | date}}</div>
                    <div><strong>Updated on: </strong>{{orderDetailsCtrl.order.payment.paymentInfo['update_time'] | date}}</div>
                    <div><strong>Payer name: </strong>{{orderDetailsCtrl.order.payment.paymentInfo.payer['payer_info']['first_name'] + ' ' + orderDetailsCtrl.order.payment.paymentInfo.payer['payer_info']['last_name']}}</div>
                    <div><strong>Payer email: </strong>{{orderDetailsCtrl.order.payment.paymentInfo.payer['payer_info'].email}}</div>
                    <div><strong>Currency: </strong>{{orderDetailsCtrl.order.payment.paymentInfo.transactions[0].amount.currency}}</div>
                    <div><strong>Total: </strong>{{orderDetailsCtrl.order.payment.paymentInfo.transactions[0].amount.total | currency}}</div>
                </div>
            </div>
        </div>
    </div>
</div>