<div class="panel center-block productEditFormContainer">

    <div class="row panel center-block">
        <progressbar value="productDashboardCtrl.uploadPercent" type="success" ><b>{{productDashboardCtrl.uploadPercentText}}</b></progressbar>
    </div>

    <form name="productEditForm" ng-submit="productDashboardCtrl.productEditFormSubmit()">

        <div class="row panel center-block">
            <label for="productName" class="col-md-3 text-right">Product Name</label>
            <input class="col-md-6" id="productName" name="productName" type="text" ng-model="productDashboardCtrl.selectedProduct.name" required/>
        </div>

        <div class="row panel center-block">
            <label for="productDescription" class="col-md-3 text-right">Description</label>
            <textarea class="col-md-6" id="productDescription" name="productDescription" ng-model="productDashboardCtrl.selectedProduct.description" required></textarea>
        </div>

        <div class="row panel center-block">
            <label for="productLot" class="col-md-3 text-right">Lot</label>
            <input class="col-md-6" id="productLot" name="productLot" type="text" ng-model="productDashboardCtrl.selectedProduct.lot" required/>
        </div>

        <div class="row panel center-block">
            <label for="productYear" class="col-md-3 text-right">Years</label>
            <input class="col-md-6" id="productYear" name="productYear" type="text" ng-model="productDashboardCtrl.selectedProduct.years" required/>
        </div>

        <div class="row panel center-block">
            <label for="productPrice" class="col-md-3 text-right">Price</label>
            <input class="col-md-6" id="productPrice" name="productPrice" type="text" ng-model="productDashboardCtrl.selectedProduct.price" required/>
        </div>

        <div class="row panel center-block">
            <label for="frontImageSource" class="col-md-3 text-right">Front Image</label>
            <div id="frontImageSource" class="fileSelectDiv pull-left btn btn-default center-block" ng-file-select ng-model="productDashboardCtrl.selectedProduct.frontImageNew">{{productDashboardCtrl.selectedProduct.frontImage[0].name || "Select"}}</div>
        </div>

        <div class="row panel center-block">
            <label for="backImageSource" class="col-md-3 text-right">Back Image</label>
            <div id="backImageSource" class="fileSelectDiv pull-left btn btn-default center-block" ng-file-select ng-model="productDashboardCtrl.selectedProduct.backImageNew">{{productDashboardCtrl.selectedProduct.backImage[0].name || "Select"}}</div>
        </div>

        <div class="row panel center-block">
            <input type="submit" id="submit" value="Submit"  class="btn btn-default center-block"/>
        </div>

    </form>
</div>