<sub-header show-on-top></sub-header>
<div class="container shopping-cart">
    <div class="shopping-cart-grid" ng-show="shoppingCartCtrl.cart.getItems().length > 0">
        <div class="row grid-header text-center">
            <div class="col-md-3"></div>
            <div class="col-md-5">
                <h4>Title</h4>
            </div>
            <div class="col-md-1">
                <h4>Lot</h4>
            </div>
            <div class="col-md-1">
                <h4>Price</h4>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div ng-repeat="cartItem in shoppingCartCtrl.cart.getItems()">
            <div class="row cart-item text-center">
                <div class="col-md-3">
                    <img class="img-responsive" src="assets/images/CoinBack.jpg" alt=""/>
                </div>
                <div class="col-md-5 push">
                    {{cartItem.item.name}}
                </div>
                <div class="col-md-1 push">
                    {{cartItem.item.lot}}
                </div>
                <div class="col-md-1 push">
                    {{cartItem.item.price.value | currency}}
                </div>
                <div class="col-md-1 push" >
                    <div class="delete-icon"></div>
                    <a ng-click="shoppingCartCtrl.cart.removeItem(cartItem)">Delete</a>
                </div>

            </div>
            <hr/>
        </div>
        <div class="pull-right">
            <div class="pull-right">
                Total Price: {{shoppingCartCtrl.cart.getTotal() | currency}}
            </div>
            <div>
                <button class="btn btn-default" ui-sref="home">Continue shopping</button>
                <button class="btn btn-primary" ui-sref="order.personalInfo">Check out</button>
            </div>
        </div>
    </div>

    <div class="text-center" ng-show="shoppingCartCtrl.cart.getItems().length == 0">
        <h3>There are no items in the shopping cart</h3>
    </div>
</div>