<div>
    <header class="menu-header">
        <figure class="close-cross" ng-click="menuCtrl.menuToggle = false">&#10005</figure>
        <!--/.close-cross-->
        <div ng-if="menuCtrl.identity.isAuthenticated()">
            <div class="clearfix profile-holder">
                <figure class="profile-image pull-left">
                    <img src="assets/images/default-user-icon-profile.png" alt=""/>
                </figure>
                <!--/.profile-image -->
                <div class="profile-icons-holder" ng-if="menuCtrl.identity.isAuthenticated()">
                    <a class="btn profile-icons" href ng-click="menuCtrl.logout()"> Logout </a>
                </div>
                <!--/.profile-icons-holder-->
                <address class="profile-name">
                    {{menuCtrl.identity.getCurrentUser().displayName}}
                </address>
                <!--/.profile-name-->

            </div>
            <!--/.profile-holder-->

        </div>
        <!--/div-->
        <div ng-if="!menuCtrl.identity.isAuthenticated()">
            <a class="btn" ui-sref="login" ng-click="menuCtrl.menuToggle = false">LOG IN</a>
        </div>
        <!--/div-->

    </header>
    <!--/.menu-header-->
    <nav>
        <ul class="menu-navigation">
            <li ng-if="menuCtrl.identity.isAdmin()">
                <a class="btn" ui-sref="dashboard.products" ng-click="menuCtrl.menuToggle = false"> Dashboard </a>
            </li>
            <li><a class="btn" ui-sref="home" ng-click="menuCtrl.menuToggle = false"> Catalog </a></li>
            <li><a class="btn" ui-sref="highlights" ng-click="menuCtrl.menuToggle = false"> Highlights </a></li>
            <li><a class="btn" ui-sref="terms" ng-click="menuCtrl.menuToggle = false"> Terms & Conditions </a></li>
            <li><a class="btn" ui-sref="contacts" ng-click="menuCtrl.menuToggle = false"> Contacts </a></li>
        </ul>
        <!--/.menu-navigation-->
    </nav>
    <!--/.nav-->
</div>