@font-face {
  font-family: 'Bembo Regular';
  src: url("../fonts/Bembo/Bembo-Std_6601.ttf") format("truetype"); }
@font-face {
  font-family: 'Bembo Bold';
  src: url("../fonts/Bembo/Bembo-Std-Bold_6595.ttf") format("truetype"); }
@font-face {
  font-family: 'Bembo italic';
  src: url("../fonts/Bembo/Bembo-Std-Italic_6598.ttf") format("truetype"); }
@font-face {
  font-family: 'Bembo small';
  src: url("../fonts/Bembo/bembo-1361531548.ttf") format("truetype"); }
@font-face {
  font-family: 'Rockwell Regular';
  src: url("../fonts/Rockwell/Rockwell-Std.ttf") format("truetype"); }
@font-face {
  font-family: 'Rockwell Bold';
  src: url("../fonts/Rockwell/Rockwell-Std-Bold_38427.ttf") format("truetype"); }
@font-face {
  font-family: 'Rockwell Light';
  src: url("../fonts/Rockwell/Rockwell-Std-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'CinzelDecorative';
  src: url("../fonts/Cinzel_Decorative/CinzelDecorative-Regular.otf") format("opentype");
  src: url("../fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'LobShopIcons';
  src: url("../icons/icomoon.eot");
  src: url("../icons/icomoon.ttf") format("truetype"), url("../icons/icomoon.woff") format("woff"); }
/*******************************************
               GLOBAL
******************************************/
html {
  font-size: 62.5%; }

body {
  font-family: "Bembo Regular", serif;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.85; }

@-ms-viewport {
  width: device-width; }
.ng-leave {
  animation: 0.5s lightSpeedOut ease; }

.ng-enter {
  animation: 0.5s lightSpeedOut ease; }

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
  opacity: 0.5;
  background-color: #393b3e; }
  .overlay.ng-show, .overlay.ng-hide {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s; }
  .overlay.ng-hide {
    opacity: 0; }
  .overlay.ng-show {
    opacity: 0.5; }

/**************************************
        STAY ON TOP DIRECTIVE
***************************************/
.header-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99999;
  opacity: .8; }
  .header-fixed:hover {
    opacity: 1; }

/**************************************
              ALL INPUTS
***************************************/
.group {
  position: relative;
  max-width: 700px;
  width: 70%;
  margin-right: auto;
  margin-bottom: 3.75em;
  margin-left: auto; }

.material-input {
  display: block;
  width: 100%;
  padding: 10px 10px 10px 5px;
  background-color: transparent;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #373a3d; }

.material-input:focus {
  outline: none; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fbf8e8 inset; }

/* LABEL ======================================= */
.material-label {
  position: absolute;
  top: 10px;
  color: #818181;
  left: 5px;
  font-size: 18px;
  font-weight: normal;
  pointer-events: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

/* active state */
.material-input:focus ~ .material-label,
.not-empty ~ .material-label {
  top: -20px;
  font-size: 14px; }

.material-input.ng-valid {
  color: #6b939d;
  border-color: #6b939d; }
.material-input.ng-invalid.ng-dirty {
  color: #9a6a6b;
  border-color: #9a6a6b; }
.material-input.ng-valid.bar:before, .material-input.ng-valid.bar:after {
  background: #6b939d; }

.ng-valid ~ .material-label {
  color: #6b939d; }
.ng-invalid ~ .material-label {
  color: #9a6a6b; }
.ng-pristine ~ .material-label {
  color: #373a3d; }

/*************************************************
                  ERROR MESSAGES
**************************************************/
.material-error {
  margin-top: -30px;
  font-size: 1.6rem;
  letter-spacing: .075em;
  font-family: "Rockwell Light";
  color: #9a6a6b; }

.error-icon {
  font-family: 'LobShopIcons';
  margin-top: -55px;
  margin-right: 0.3em;
  color: #9a6a6b; }
  .error-icon:before {
    content: "\e614";
    font-size: .9em; }

.error-icon-satisfied {
  color: #6b939d; }

.error-icon-pristine {
  color: #b3b3b3; }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%; }

.bar:before,
.bar:after {
  position: absolute;
  bottom: 1px;
  width: 0;
  height: 2px;
  content: '';
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

.ng-valid ~ .bar:before, .ng-valid ~
.bar:after {
  background-color: #6b939d; }
.ng-invalid ~ .bar:before, .ng-invalid ~
.bar:after {
  background-color: #9a6a6b; }
.ng-pristine ~ .bar:before, .ng-pristine ~
.bar:after {
  background-color: #373a3d; }

/* active state */
.material-input:focus ~ .bar:before, .material-input:focus ~ .bar:after {
  width: 50%; }

.badge {
  position: relative;
  top: 0;
  right: 1.2em;
  padding: 1px 4px;
  background-color: #d6cd9b;
  color: #393b3e;
  border-radius: 50%; }

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 60%;
  opacity: 0.5;
  pointer-events: none; }

.highlight:focus {
  background-color: red; }

/* active state */
.material-input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #393b3e; }
  to {
    width: 0;
    background: transparent; } }
@-moz-keyframes inputHighlighter {
  from {
    background: #393b3e; }
  to {
    width: 0;
    background: transparent; } }
@keyframes inputHighlighter {
  from {
    background: #393b3e; }
  to {
    width: 0;
    background: transparent; } }
/***************************************
                FORMS
****************************************/
.form-container {
  padding-top: 50px; }

/***  Checkbox   ***/
input[type="radio"] {
  width: 1.125em;
  height: 1.125em;
  -webkit-appearance: none;
  border: 1px solid #b3b3b3; }
  input[type="radio"]:checked {
    border: 0;
    outline: 0;
    outline-offset: 0; }
    input[type="radio"]:checked:before {
      font-family: 'LobShopIcons';
      content: "\e603";
      font-size: 21px;
      vertical-align: baseline; }

.digits-transform {
  font-family: "CinzelDecorative";
  font-variant: small-caps; }

/***************************************
               NO SELECT
****************************************/
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/***************************************
               MEDIA QUERIES
****************************************/
@media (min-width: 1400px) {
  .container {
    width: 1378px; } }
@media screen and (max-width: 767px) {
  .catalog-header a.btn span:not(.catalog-header-icons) {
    display: none; }
  .catalog-header input[placeholder="Search..."] {
    display: none; } }
@media screen and (max-width: 1200px) {
  .product .related-products .related-category-image {
    margin: 0 0; } }
@media (max-width: 480px) {
  .login-error h4 {
    font-size: 1.2rem; }

  .material-error {
    margin-top: -20px;
    font-size: 1rem;
    letter-spacing: .075em;
    font-family: "Rockwell Light";
    color: #9a6a6b; }

  body menu, body filter {
    width: 100%;
    max-width: 100%; }
    body menu .menu-navigation li a, body filter .menu-navigation li a {
      font-size: 1.4rem; }
    body menu .menu-icons:before, body filter .menu-icons:before {
      font-size: 2rem; }
    body menu .profile-name, body filter .profile-name {
      margin-left: 8.4em;
      font-size: 1.2rem; }
    body menu .log-in:before, body menu .log-out:before, body menu .menu-header-icons:before, body filter .log-in:before, body filter .log-out:before, body filter .menu-header-icons:before {
      font-size: 1.4rem; }
    body menu span.badge.ng-binding, body filter span.badge.ng-binding {
      font-size: 1rem; }
    body menu .category, body menu .category.category-advanced, body filter .category, body filter .category.category-advanced {
      font-size: 1.4rem; }
    body menu label, body filter label {
      font-size: 1.2rem; }
    body menu input[type="radio"], body filter input[type="radio"] {
      width: 1em;
      height: 1em; } }
.btn-default, .btn-info, .btn-success, .btn-check-bag, .btn-check-out, .btn-primary, .bth-other {
  background-color: transparent;
  font-family: "Rockwell Light";
  letter-spacing: .2em; }
  .btn-default:after, .btn-default:before, .btn-info:after, .btn-info:before, .btn-success:after, .btn-success:before, .btn-check-bag:after, .btn-check-bag:before, .btn-check-out:after, .btn-check-out:before, .btn-primary:after, .btn-primary:before, .bth-other:after, .bth-other:before {
    display: inline-block;
    margin-left: 10px;
    font-family: LobShopIcons; }

.btn-default:after, .btn-default:before, .btn-sinfo:after, .btn-sinfo:before {
  font-size: 1.4rem; }

.btn-default {
  border-color: #818181;
  color: #818181; }
  .btn-default:hover, .btn-default:active, .btn-default:focus {
    background-color: #818181;
    color: #fffff7; }
  .btn-default:before {
    margin-left: 0;
    margin-right: 10px;
    content: "\e60e";
    transform: rotate(180deg); }

/*login button*/
.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled.focus, .btn-success[disabled].focus, fieldset[disabled] .btn-success.focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
  border-color: #aad6d0;
  color: #fff;
  background-color: #aad6d0;
  outline-color: #aad6d0; }

.btn-success {
  outline-color: #aad6d0;
  border-color: #aad6d0;
  color: #aad6d0; }
  .btn-success:hover, .btn-success:active, .btn-success:focus {
    background-color: #aad6d0;
    color: #fffff7; }

.btn-info-disable {
  border-color: #818181;
  color: #818181; }
  .btn-info-disable:after {
    content: "\e60e"; }
  .btn-info-disable:hover, .btn-info-disable:active {
    background-color: #818181;
    color: #fffff7; }

.btn-check-out, .btn-check-bag {
  padding: 10px 30px;
  font-family: "Bembo Regular"; }
  .btn-check-out:after, .btn-check-bag:after {
    content: "\e60c";
    font-size: 1.6rem;
    vertical-align: bottom; }

.btn-check-bag {
  border-color: #d6cd9b;
  color: #d6cd9b; }
  .btn-check-bag:hover, .btn-check-bag:active, .btn-check-bag:focus {
    background-color: #d6cd9b;
    color: #393b3e; }

.btn-check-out {
  border-color: #393b3e;
  color: #393b3e; }
  .btn-check-out:hover, .btn-check-out:active, .btn-check-out:focus {
    background-color: #393b3e;
    color: #d6cd9b; }

/*register button is primary*/
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: #638ba7;
  background-color: #638ba7;
  color: #fff;
  outline-color: #638ba7; }

.btn-primary {
  border-color: #638ba7;
  color: #638ba7; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #638ba7;
    color: #fff; }

.btn-primary[disabled] {
  border-color: #638ba7;
  color: #638ba7; }

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  border-color: #6b939d;
  color: #fff; }

.btn-info {
  border-color: #6b939d;
  color: #6b939d; }
  .btn-info:after {
    content: "\e60e"; }
  .btn-info:hover, .btn-info:active, .btn-info:focus {
    background-color: #6b939d;
    color: #fff; }

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #6b939d;
  border-color: #6b939d;
  color: #fff; }

.bth-other {
  border-color: lightcoral;
  color: #393b3e; }
  .bth-other:hover, .bth-other:active, .bth-other:focus {
    background-color: #lightcoral;
    color: #fff; }

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background: transparent;
  border: 0;
  outline: 0; }

.btn-danger {
  background: transparent;
  border: 0;
  outline: 0; }
  .btn-danger:before {
    /*TODO Icon*/ }
  .btn-danger:hover {
    background: transparent;
    border: 0;
    outline: 0; }

/*# sourceMappingURL=style.css.map */
