@font-face {
  font-family: 'Bembo';
  src: url("../fonts/Bembo/Bembo-Std_6601.ttf") format("truetype");
  src: url("../fonts/Bembo/Bembo-Std-Bold_6595.ttf") format("truetype");
  src: url("../fonts/Bembo/Bembo-Std-Italic_6598.ttf") format("truetype"); }
@font-face {
  font-family: 'Rockwell';
  src: url("../fonts/Rockwell/Rockwell.ttf") format("truetype");
  src: url("../fonts/Rockwell/RockwellBold.ttf") format("truetype");
  src: url("../fonts/Rockwell/RockwellLight.ttf") format("truetype"); }
@font-face {
  font-family: 'CinzelDecorative';
  src: url("../fonts/Cinzel_Decorative/CinzelDecorative-Regular.otf") format("opentype");
  src: url("../fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'LobShopIcons';
  src: url("../icons/icomoon.eot");
  src: url("../icons/icomoon.ttf") format("truetype"), url("../icons/icomoon.woff") format("woff"); }
@-ms-viewport {
  width: device-width; }
.ng-leave {
  animation: 0.5s lightSpeedOut ease; }

.ng-enter {
  animation: 0.5s lightSpeedOut ease; }

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
  opacity: 0.5;
  background-color: #393b3e; }
  .overlay.ng-show, .overlay.ng-hide {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s; }
  .overlay.ng-hide {
    opacity: 0; }
  .overlay.ng-show {
    opacity: 0.5; }

/**************************************
              ALL INPUTS
***************************************/
.group {
  position: relative;
  max-width: 700px;
  width: 70%;
  margin-right: auto;
  margin-bottom: 3.75em;
  margin-left: auto; }

.material-input {
  display: block;
  width: 100%;
  padding: 10px 10px 10px 5px;
  background-color: transparent;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #373a3d; }

.material-input:focus {
  outline: none; }

/* LABEL ======================================= */
.material-label {
  position: absolute;
  top: 10px;
  color: #818181;
  left: 5px;
  font-size: 18px;
  font-weight: normal;
  pointer-events: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

/* active state */
.material-input:focus ~ .material-label,
.not-empty ~ .material-label {
  top: -20px;
  font-size: 14px; }

.material-input.ng-valid {
  color: #6b939d;
  border-color: #6b939d; }
.material-input.ng-invalid {
  color: #9a6a6b;
  border-color: #9a6a6b; }
.material-input.ng-valid.bar:before, .material-input.ng-valid.bar:after {
  background: #6b939d; }

.ng-valid ~ .material-label {
  color: #6b939d; }
.ng-invalid ~ .material-label {
  color: #9a6a6b; }
.ng-pristine ~ .material-label {
  color: #373a3d; }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%; }

.bar:before,
.bar:after {
  position: absolute;
  bottom: 1px;
  width: 0;
  height: 2px;
  content: '';
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

.ng-valid ~ .bar:before, .ng-valid ~
.bar:after {
  background-color: #6b939d; }
.ng-invalid ~ .bar:before, .ng-invalid ~
.bar:after {
  background-color: #9a6a6b; }
.ng-pristine ~ .bar:before, .ng-pristine ~
.bar:after {
  background-color: #373a3d; }

/* active state */
.material-input:focus ~ .bar:before, .material-input:focus ~ .bar:after {
  width: 50%; }

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 60%;
  opacity: 0.5;
  pointer-events: none; }

.highlight:focus {
  background-color: red; }

/* active state */
.material-input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #393b3e; }
  to {
    width: 0;
    background: transparent; } }
@-moz-keyframes inputHighlighter {
  from {
    background: #393b3e; }
  to {
    width: 0;
    background: transparent; } }
@keyframes inputHighlighter {
  from {
    background: #393b3e; }
  to {
    width: 0;
    background: transparent; } }
/*TODO: inputHighlighter based on state*/

/*# sourceMappingURL=style.css.map */
