<div class="catalog-header">
    <div class="text-center">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <a class="btn" href="#" ng-click="menuCtrl.filterToggle = !menuCtrl.filterToggle">filters</a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <input type="search" placeholder="Search..." ng-model="catalogHeaderCtrl.productSearch"/>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <a class="btn" href="#" ng-click="menuCtrl.menuToggle = !menuCtrl.menuToggle">menu</a>
        </div>
    </div>
</div>