<div class="catalog-header no-select" show-on-top>
    <div class="text-center">
        <div class="col-md-4 col-sm-4 col-xs-4">

            <a class="btn" ng-click=" menuCtrl.filterToggle = !menuCtrl.filterToggle">
                <span class="catalog-header-icons filter-icon"></span>
                <span>filters</span>
            </a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <span class="catalog-header-icons search-icon" ng-hide="catalogHeaderCtrl.searchClicked"></span>
            <input type="search" placeholder="Search..." ng-model="catalogHeaderCtrl.productSearch"
                   ng-focus="catalogHeaderCtrl.searchClicked = true"
                   ng-blur="catalogHeaderCtrl.searchClicked = false"/>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">

            <a class="btn" ng-click="menuCtrl.menuToggle = !menuCtrl.menuToggle">
                <span class="catalog-header-icons menu-icon"></span>
                <span>menu</span></a>
        </div>
    </div>
</div>