<div class="products container animated">
    <div class="row">
        <div class="row-same-height">
            <div class="container text-center" ng-show="catalogCtrl.products.length == 0">
                <h1>No products found</h1>
            </div>
            <!--/.container .text-center-->
            <div ng-if="catalogCtrl.products.length > 0">
                <div class="col-md-4"
                     ng-repeat="product in catalogCtrl.products | filter: catalogHeaderCtrl.productSearch | orderBy: filterCtrl.predicate">

                    <section class="card-border" ng-mouseover="catalogCtrl.hoverProduct(product)"
                             ng-mouseleave="catalogCtrl.unhoverProduct(product)">
                        <div class="product-overlay text-center" ng-show="product.hover">
                            <button class="btn btn-info" ng-click="catalogCtrl.cart.insertItem(product)">Buy
                            </button>
                            <button class="btn btn-success" ng-click="catalogCtrl.openProductDetails(product)">Details
                            </button>
                        </div>
                        <!--/.product-overlay-->
                        <header>
                            <span></span>
                        <span class="card-label label-purple">
                            Lot:
                        </span>
                        <span>
                            {{ product.lot }}
                        </span>
                        <span class="pull-right">
                            <span class="card-label label-purple">
                                Price:
                            </span>
                            <span>
                                {{ product.price.value }}
                            </span>
                        </span><!--/.pull-right-->
                        </header>
                        <!--/header-->
                        <figure>
                            <img class="img-responsive" src="/assets/images/CoinBack.jpg" alt=""/>
                        </figure>
                        <div>
                            <p>
                                <span class="card-label label-purple">Title:</span>
                                <strong>{{ product.name }}</strong>
                            </p>

                            <p>
                                {{ product.description[0].value | limitTo : 40}}...
                            </p>
                        </div>
                        <!--/.div-->
                        <div>
                            <p>
                                <span class="card-label label-purple">Years:</span>
                                {{ product.years }}
                            </p>
                        </div>
                        <!--/.div-->
                    </section>
                    <!--/.card-border-->
                </div>
                <!--/.col-md-4-->
            </div>
            <!--/div-->
        </div>
        <!--/.row-same-height-->
    </div>
    <!--/.row-->
</div><!--/.products .container-->