<div class="products container animated no-select center-block">
    <div class="row">
        <div class="">
            <div class="container text-center" ng-show="catalogCtrl.products.length == 0">
                <h1>No products found</h1>
            </div>
            <!--/.container .text-center-->
            <div ng-if="catalogCtrl.products.length > 0">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xs-height"
                     ng-repeat="product in catalogCtrl.products
                     | filter: catalogHeaderCtrl.productSearch
                     | priceRange: filterCtrl.priceRange.min: filterCtrl.priceRange.max
                     | yearsRange: filterCtrl.yearsRange.min: filterCtrl.yearsRange.max
                     | filterByCategory: filterCtrl.filterCategory
                     | orderProductsBy: filterCtrl.predicate">

                    <section class="card-border" ng-mouseover="catalogCtrl.hoverProduct(product)"
                             ng-mouseleave="catalogCtrl.unhoverProduct(product)">

                        <div class="product-overlay text-center" ng-show="product.hover">
                            <div class="ornament-top-left"></div>
                            <div class="ornament-top-right"></div>
                            <div class="ornament-bottom-left"></div>
                            <div class="ornament-bottom-right"></div>
                            <a ng-click="catalogCtrl.cart.insertItem(product)">
                                <figure class="product-icons shoppig-bag"></figure>
                            </a>
                            <hr/>
                            <a class="" ng-click="catalogCtrl.openProductDetails(product)">
                                <figure class="product-icons product-details-icon"></figure>
                            </a>
                        </div>
                        <!--/.product-overlay-->
                        <header>
                            <span></span>
                        <span class="card-label label-purple">
                            Lot:
                        </span>
                        <span class="digits-transform">
                            {{ product.lot }}
                        </span>
                        <span class="pull-right">
                            <span class="card-label label-purple">
                                Price:
                            </span>
                            <span class="digits-transform">
                                {{ product.price.value }}
                            </span>
                        </span><!--/.pull-right-->
                        </header>
                        <!--/header-->
                        <figure>
                            <img class="img-responsive pull-left catalog-image" ng-src="{{product.images[0].thumbSrc}}" alt=""/>
                            <img class="img-responsive pull-right catalog-image" ng-src="{{product.images[1].thumbSrc}}" alt=""/>
                        </figure>
                        <div>
                            <p>
                                <span class="card-label label-purple">Title:</span>
                                <strong >{{ product.name }}</strong>
                            </p>

                            <p class="coin-description">
                                {{ product.description[0].value | limitTo : 70}}...
                            </p>
                        </div>
                        <!--/.div-->
                        <div>
                            <p>
                                <span class="card-label label-purple">Years:</span>
                                <span class="digits-transform">{{ product.years }}</span>
                            </p>
                        </div>
                        <!--/.div-->
                    </section>
                    <!--/.card-border-->
                </div>
                <!--/.col-md-4-->
            </div>
            <!--/div-->
        </div>
        <!--/.row-same-height-->
    </div>
    <!--/.row-->
</div><!--/.products .container-->