<div class="loginForm container text-center">
    <div id="form-container">
        <div class="page-header text-center">
            <h2>LOG IN</h2>
        </div>
        <form id="login-form" novalidate name="loginForm"
              ng-submit="loginCtrl.login()">
            <div class="row">
                <div class="col-md-6">
                    <div class="group">
                        <input type="text" id="username" ng-model="loginCtrl.user.username"/>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Username</label>
                    </div>

                    <div class="group">
                        <input type="password" id="password" ng-model="loginCtrl.user.password"/>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Password</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Social logins here...</h4>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Log in</button>
        </form>
    </div>
</div>