<sub-header></sub-header>
<div class="row product">
    <div class="product-category">{{productCtrl.category.name}}</div>
    <div class="col-xs-12 col-md-9 col-lg-9">
        <div class="row">
            <div class="pull-left"> <h3>Lot: <span class="digits-transform">{{productCtrl.product.lot}}</span></h3></div>
            <!--/.col-md-6-->
            <div class="pull-right"><h3> Price: <span class="digits-transform">{{productCtrl.product.price.value}}</span></h3></div>
            <!--/.col-md-6-->
        </div>
        <!--/.text-center row-->
        <div class="text-center product-hover clearfix">
            <img class="img-responsive pull-left" ng-src="{{productCtrl.product.images[0].src}}" alt="coins"/>
            <img class="img-responsive pull-right" ng-src="{{productCtrl.product.images[1].src}}" alt="coins"/>
        </div>
        <!--/.text-center-->
        <h3>Title: <span class="coin-title">{{productCtrl.product.name}}</span></h3>

        <p class="product-details">{{productCtrl.product.description[0].value}}</p>

        <h3>Years: <span class="digits-transform">{{productCtrl.product.years}}</span></h3>
        <button class="btn btn-success pull-right" ng-click="productCtrl.cart.insertItem(productCtrl.product)">Buy</button>
    </div>
    <!--/.col-md-9-->
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
        <div class="related-products">
            <h4>RELATED:</h4>

            <div ng-repeat="relatedProduct in productCtrl.relatedProducts | limitTo: 5">
                <div>
                    <section class="card-border" ng-mouseover="productCtrl.hoverProduct(relatedProduct)"
                             ng-mouseleave="productCtrl.unhoverProduct(relatedProduct)">

                        <div class="product-overlay text-center" ng-show="relatedProduct.hover">
                            <div class="ornament-top-left"></div>
                            <div class="ornament-top-right"></div>
                            <div class="ornament-bottom-left"></div>
                            <div class="ornament-bottom-right"></div>
                            <a class="" ng-click="productCtrl.openProductDetails(relatedProduct)">
                                <figure class="product-icons product-details-icon"></figure>
                            </a>
                        </div>
                        <!--/.product-overlay-->
                        <header class="clearfix">
                        <span class="pull-left">
                            <span class="card-label label-purple">
                                Price:
                            </span>
                            <span class="digits-transform related-product-price">
                                {{ relatedProduct.price.value }}
                            </span>
                        </span><!--/.pull-right-->
                        </header>
                        <!--/header-->
                        <figure class="clearfix">
                            <img class="img-responsive pull-left catalog-image related-category-image " src="{{relatedProduct.images[0].thumbSrc}}" alt=""/>
                            <img class="img-responsive pull-right catalog-image related-category-image" src="{{relatedProduct.images[1].thumbSrc}}" alt=""/>
                        </figure>
                        <div>
                            <p>
                                <span class="card-label label-purple">Title:</span>
                                <strong>{{ relatedProduct.name }}</strong>
                            </p>
                        </div>
                    </section>
                </div>
            </div>
            <!--/.div-->
        </div>
        <!--/.related-products-->
    </div>
    <!--/.col-md-3-->
</div><!--/.row-->
<shopping-cart-summary></shopping-cart-summary>