@charset "UTF-8";
/*********************************
            CARD
 *********************************/
.card-border {
  position: relative;
  margin-bottom: 20px;
  padding: 2em;
  background-color: #fffff7;
  box-shadow: 0px 0px 5px #373a3d;
  cursor: pointer; }
  .card-border header, .card-border figure {
    margin-bottom: 25px; }
  .card-border p {
    margin: 0; }

.card-label {
  font-family: "Rockwell Regular";
  font-size: 2.1rem;
  letter-spacing: 0.075em; }

.card-label ~ strong {
  font-family: "Bembo Bold"; }

.coin-title {
  font-family: "Bembo Bold"; }

/*********************************
            PRODUCT
 *********************************/
.row {
  margin: 0 auto; }

.product {
  padding-bottom: 60px; }
  .product .product-category {
    margin: 3em 0 0 5em; }
  .product .col-md-9, .product .col-md-8 {
    padding: 0 5%; }
    .product .col-md-9 .row, .product .col-md-9 .text-center, .product .col-md-8 .row, .product .col-md-8 .text-center {
      margin-bottom: 4em; }
    .product .col-md-9 .product-images, .product .col-md-8 .product-images {
      margin: 0 5% 4em 5%;
      position: relative; }
      .product .col-md-9 .product-images .img-responsive, .product .col-md-8 .product-images .img-responsive {
        width: 35%; }
      .product .col-md-9 .product-images .product-images-hover, .product .col-md-8 .product-images .product-images-hover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        opacity: 0.5; }
        .product .col-md-9 .product-images .product-images-hover .product-image-zoom, .product .col-md-8 .product-images .product-images-hover .product-image-zoom {
          height: 100%;
          padding-top: 40px; }
          .product .col-md-9 .product-images .product-images-hover .product-image-zoom:before, .product .col-md-8 .product-images .product-images-hover .product-image-zoom:before {
            content: "\e610"; }
  .product .col-md-6 {
    padding: 0; }
  .product .col-md-3 {
    border-left: 1px solid rgba(179, 179, 179, 0.3); }
  .product .related-products {
    margin: 0 5%;
    font-size: 1.8rem; }
    .product .related-products h4 {
      font-size: 2rem;
      margin-bottom: 4em; }
    .product .related-products .card-border {
      padding: 2em; }
      .product .related-products .card-border header, .product .related-products .card-border figure {
        margin-bottom: 1em; }
    .product .related-products .card-label {
      font-size: 1.8rem; }
      .product .related-products .card-label ~ strong {
        font-size: 1.4rem; }
    .product .related-products .related-category-image {
      height: 4.25em;
      max-width: 4.25em; }
  .product h3 {
    font-size: 3rem;
    letter-spacing: .075em;
    font-family: "Rockwell Regular";
    margin-top: 0; }
  .product .product-details {
    font-size: 2.4rem;
    font-family: "Bembo italic";
    letter-spacing: .075em;
    line-height: 1.8;
    margin-bottom: 4em; }

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2em 4em;
  background-color: rgba(55, 58, 61, 0.8); }
  .product-overlay .btn {
    display: block; }
  .product-overlay .product-icons {
    margin: 0; }
  .product-overlay h3 {
    color: #FFF; }

/** labels  **/
.label-purple {
  color: #656382; }

.label-blue {
  color: #6b929d; }

.label-brown {
  color: #6b584e; }

.label-red {
  color: #9a6a6b; }

.search-header {
  height: 50px;
  background-color: #373a3d; }
  .search-header input {
    margin: .75em; }

/*  Icons  */
a {
  text-decoration: none;
  color: #fff; }
  a:hover {
    text-decoration: none;
    color: #d6cd9b; }

.product-icons {
  font-family: LobShopIcons;
  font-size: 9.6rem; }

.ornament-top-left {
  position: absolute;
  top: 0;
  left: 15px; }

.ornament-top-left:before {
  font-family: LobShopIcons;
  font-size: 4rem;
  content: "";
  color: #d6cd9b; }

.ornament-top-right {
  position: absolute;
  top: 0;
  right: 15px;
  transform: rotate(90deg); }

.ornament-top-right:before {
  font-family: LobShopIcons;
  font-size: 4rem;
  content: "";
  color: #d6cd9b; }

.ornament-bottom-left {
  position: absolute;
  bottom: 0;
  left: 15px;
  transform: rotate(-90deg); }

.ornament-bottom-left:before {
  font-family: LobShopIcons;
  font-size: 4rem;
  content: "";
  color: #d6cd9b; }

.ornament-bottom-right {
  position: absolute;
  transform: rotate(-180deg);
  bottom: 0;
  right: 15px; }

.ornament-bottom-right:before {
  font-family: LobShopIcons;
  font-size: 4rem;
  content: "";
  color: #d6cd9b; }

.product-details-icon:before {
  content: "\e617"; }

.catalog-image {
  height: 6.25em;
  max-width: 6.25em;
  display: inline-block; }

.in-bag {
  padding: 7em 4em; }

/*# sourceMappingURL=product.css.map */
