<sub-header></sub-header>
    <div class="col-md-3 order-wrap">
        <div class="status">
            <a ui-sref-active="active" ui-sref=".personalInfo" >
                <span class="status-circle complete"></span>
                <span>Personal Info</span>
            </a>

            <div class="status-line line-complete"></div>
        </div>
        <!--/.status-->
        <div class="status">
            <a ui-sref-active="active" ui-sref=".deliveryInfo" >
                <span class="status-circle disable">2</span>
                <span class="disable">Delivery Info</span>
            </a>

            <div class="status-line line-complete disable"></div>
        </div>
        <!--/.status-->
        <div class="status">
            <a ui-sref-active="active" ui-sref=".paymentInfo" >
                <span class="status-circle disable">3</span>
                <span class="disable">Payment method</span>
            </a>

            <div class="status-line line-complete disable"></div>
        </div>
        <!--/.status-->
        <div class="status">
            <a ui-sref-active="active" ui-sref=".confirm">
                <span class="status-circle disable">4</span>
                <span class="disable">Confirm</span>
            </a>

        </div>
        <!--/.status-->
    </div>
    <!--/.col-md-3-->
    <div class="col-md-9 order-wrap">

        <form novalidate id="order-form" name="orderForm"
              ng-submit="orderCtrl.register()">
            <ui-view></ui-view>
        </form>
    </div>
    <!--/.col-md-9-->