<sub-header></sub-header>
<div class="col-md-3">
    <a ui-sref-active="active" ui-sref=".personalInfo"><span></span> Personal Info </a>
    <a ui-sref-active="active" ui-sref=".deliveryInfo"><span></span> Delivery Info </a>
    <a ui-sref-active="active" ui-sref=".paymentInfo"><span></span> Payment method </a>
    <a ui-sref-active="active" ui-sref=".confirm"><span></span> Confirm </a>
</div>
<div class="col-md-9">
    <form novalidate id="order-form" name="orderForm"
          ng-submit="orderCtrl.register()">
        <ui-view></ui-view>
    </form>
</div>